* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
}

body {
  font-family: "Figtree", sans-serif;
  background-color: var(--yellow);
}

.card {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 350px;
  margin: 0 auto;
  background-color: var(--white);
  padding: 1.2rem;
  border-radius: 20px;
  border: 1px solid var(--black);
  box-shadow: 8px 10px 0px 0px var(--black);
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.card__img {
  width: 100%;
  border-radius: 10px;
}

.card__info {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .card__button {
    display: inline-block;
    width: max-content;
    padding: 5px 10px;
    text-decoration: none;
    color: var(--black);
    background-color: var(--yellow);
    font-weight: 800;
    border-radius: 5px;
  }

  .card__subtitle {
    font-weight: 400;
  }

  .card__title {
    &:hover {
      color: var(--yellow);
      cursor: pointer;
    }
    font-weight: 800;
  }

  .card__text {
    color: var(--grey);
    line-height: 1.5rem;
  }
}

.card__profile {
  display: flex;
  align-items: center;
  gap: 1rem;

  .card__photo {
    width: 12%;
  }

  .card__name {
    font-weight: 800;
  }
}
